/* Full page wrapper */
.auth-bg {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ff5252;
  overflow: hidden;
}


.bg-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 1921 820' xmlns='http://www.w3.org/2000/svg'><path d='M1921,413.1v406.7H0V0.5h0.4l228.1,598.3c30,74.4,80.8,130.6,152.5,168.6c107.6,57,212.1,40.7,245.7,34.4c22.4-4.2,54.9-13.1,97.5-26.6L1921,400.5V413.1z'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  aspect-ratio: 1921 / 820; 
  transform: scaleY(1.02); /* stretch slightly to cover the gap */
}


